#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}


.ant-layout-content {
    padding: 0 !important;
}

.ant-layout {
    background: #F2F2F2 !important;
}

.ant-layout-header {
    background: #fff !important;
    padding: 0 23px !important;
}

.navbar_right_side{
    display: flex !important;
    justify-content: flex-end;
}

.header_right_name {
    border-right: 1px solid #E1E1E1;
    padding-right: 25px;
}

.header_right_name span {
    color: #0069B6;
    font-size: 14px;
    margin-left: 15px;
}


.header_right_user_info {
    margin-left: 15px;
}

.header_right_user_info img{
    margin-right: 15px;
}


.custom_side li img{
    padding-right: 10px;
}


.custom_side li:nth-child(5) img{
    padding-right: 0;
}

.header_right_user_info .ant-avatar{
    margin: 0 13px;
}

.header_right_user_info span {
    color: #4B4B4B;
    font-size: 14px;
}

.header_right_user_info span:nth-child(3) {
    margin-left: 5px;
}

.header_right_exit div{
    display: inline-block;
    border-right: 1px solid #E1E1E1;
    padding-right: 29px;
}
.header_right_exit span {
    margin-left: 27px;
}

.header_right_exit span:nth-child(2){
    color: #999999;
    font-size: 15px;
}



.top_bar_left_side {
    background: #fff;
    padding: 5px;
    height: 150px;
    display: flex;
    width: 100%;

}


.pipe-separated-list-container {
    overflow-x: hidden;
}
.pipe-separated-list-container ul {
    list-style-type: none;
    position: relative;
    left: -16px;
    padding: 0;
}
.pipe-separated-list-container ul li {
    display: inline-block;
    line-height: 1;
    padding: 0 1em;
    margin-bottom: 1em;
    border-left: 1px solid #CCCCCC;
}

.pipe-separated-list-container ul li span{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #4D4D4D;
}

.pipe-separated-list-container i {
    color: #999999;
    margin-left: 5px;
    padding-right: 15px;
    font-size: 16px;
}

.top_bar_left_side img {
    width: 100px;
    margin: 0 auto;
    height: auto;
    object-fit: contain;
}


.top_bar_right_side {
    background: #fff;
    padding: 4px 25px;
}

.top_bar_right_side h2 {
    color: #862165;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


.info_process {
    background: #F2F2F2;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 4px;
}

.info_process span {
    color: #4B4B4B;
    font-size: 14px;
    position: relative;
    padding: 0 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}




.info_creator {
    background: none !important;
}

 .ant-tabs-tab-btn{
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
 }


.info_creator span[role=img]:after,.info_process span[role=img]:after{
    display: none;
}


.info_creator span[role=img]{
    padding: 0 5px;
}

.info_creator h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.info_process span:after {
    content: "";
    width: 2px;
    height: 16px;
    position: absolute;
    right: -5px;
    top: 2px;
    background: #CCCCCC;
}


 .first_info:after,.info_process .anticon-edit:first-child:after {
    display: none;
}


.info_process .anticon-edit{
    color: #0069B6;
    margin-left: 15px;
}

.body_content {
    background: #fff;
}

.tabs_content {
    margin-top: 20px;
}

.ant-tabs-tab{
    font-size: 14px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400

}
.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 3px 2px 21px 17px !important;
}


.counts_content {
    background: #FAF2FB;
    position: relative;
    margin: 0 12px 0 12px;
    padding: 18px;


}

.counts_content h5 {
    color: #666666;
    font-size: 14px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.count_total{
    text-align: end;
}

.counts_content span {
    color: #4D4D4D;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;



}


.counts_content.count2 {
    background: #E4F8FB;
}

.count3 {
    background: #FCF0E4;
}


.count4 {
    background: #E4EFF7;
}

.chars_radios {
    text-align: end;
    margin-right: 15px;
}



.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #F2F2F2 !important;
    color: #0074C1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.custom_side .ant-menu-inline .ant-menu-item::after {
    border-right: 4px solid #0069B6;
    left: 0;
    right: initial;
}


.char_date .ant-breadcrumb{
    margin: 7px 17px!important;
}

.date_range .ant-picker-range{
    margin:  1px 21px 29px 17px;
}

.char_content{
    margin: 15px;
}

.char_title{
    background-color: #F5F5F5;
    padding: 5px;
    position: relative;
    margin-bottom: 30px;
}
.char_title h4{
    color: #4D4D4D;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500
}


.char_title_icons{
    position: absolute;
    right: 10px;
    top: 6px;
}

.char_title_icons i{
    margin-left: 10px;
    color: #8E8E8E;
    font-size: 15px;
}

.curs_pointer{
    cursor: pointer;

}

.side_bar_collapse_icon{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    background-color: #EFEFEF;
    padding: 14px;
}


.side_bar_collapse_icon svg{
    margin-right: 15px;
}

.edit_modal .ant-modal-footer{
    border-top: none;
}


.edit_modal .ant-modal-footer button{
  display: none;
}


.edit_modal .modal_buttons button:nth-child(1){
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #0069B6;
    margin-right: 15px;
}

.edit_modal .modal_buttons button:nth-child(2){
    background: #0069B6;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 23px;
}

.ant-modal-mask{
    background-color:#898989 !important;
}

.edit_modal .modal_buttons{
    text-align: end;
}


.ant-dropdown-trigger.ant-dropdown-trigger {
    border: none;
    outline: none;
    box-shadow: none;
    display: none;
}


    /*-----responsive-----*/

@media  (max-width: 991px) {
    .char_title_icons{
        position: initial;
        text-align: center;
    }

    .header_right_name,.mobile_exit,.header_right_user_info{
        display: none;
    }

    .counts_content h5{
        font-size: 11px;
    }

    .ant-dropdown-trigger.mobile_dropdown{
        display: flex;
        align-self: center;
    }

    .mobile_dropdown img{
        margin-right: 15px;
    }
}